.bar-right {
    margin-right: 5%;
    margin-left: auto;
}  

.bar-whole {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.active {
    background-color: #4CAF50;
}

.navbar-brand {
    margin-left: 5%;
    margin-right: auto;
    font-size: 30px;
}
  
