.header{
    background-color: #1c2127;
    min-height: 20vh;
    width: 100%;
    display: flex; 
    flex-flow: row nowrap;
    text-align: center;
    justify-content: top;
    font-size: calc(20px + 2vmin);
    
}



.logo{
   width: 33%;
   text-align: left;
   padding-left: 20px;
   padding-top: 10px;
}


.title{
    width: 33%;
    position: relative;
    text-align: center;
    font-size: calc(60px + 2vmin);
    color: aliceblue;
    font-weight: bold;
    height: 100%;
    margin: auto;
}

.timer{
    width: 33%;
    height: 100%;
    margin: auto;
    text-align: right;
    padding-right: 20px;
    word-wrap: break-word;
    color: aliceblue;
}

img {
    height: 25vh;
    object-fit: cover;
  } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }
  
