.body-container {
    background-image: url('../../home_cropped.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    color: white;
    font-size: 5.5vh;
}

h2 {
    color: white;
    
}

.text{
    color: white;
    font-size: 3vh;
}

hr{
    background-color: white;
}

.body{
    position: relative;
    padding-top: 15%;
    left: 10%;
    height: 100%;
    width:30%;
    margin-bottom: auto;
}


.button{
    margin-right: 20px;
}