

.map-container {
    display: flex;
    
    padding-top: 5%;
    background-color: #650360;
}

.map-container::after, .row::after {
  content: "" !important;
  clear: both !important;
  display: table !important;
}


.map{
  position: fixed !important;
  padding:0; 
  margin:0;
  width:35vw !important;
  height:35vw !important;
  left: 5vw !important;
  top: 10vh !important;
  border:6px solid #F4F4F4;
  margin:20px;
}

.map-styles {
  width: 100%;
  height: 100%;
}

.drop-down {
  padding-left: 5%;  
  width: 500px;
}

.location-cards {
  padding-left: 5%;
  margin: 25px;  
}

.col{
    float: left !important;
    width: 50% !important;
    height: 100% !important;
    /* padding: 0 8px !important; */
     align-items: left !important; 
}

.button-left {
  margin-right: 10px;
}

@media screen and (max-width: 1300px) {
    .map-container {
      display: flex;
      flex-flow: column;
      padding-top: 15%;
      background-color: #650360;
      position: relative;
  }
    

.map-styles {
  width: 100%;
  height: 100%;
}


.map{
  position: relative !important;
  padding:0; 
  margin:0;
  width: 80vw !important;
  height: 80vw !important;
  left: 10% !important;
  top: 15% !important;
  /* border:6px solid #F4F4F4;
  margin:20px; */
}

  #col1 {
    width: 100% !important;
    /* position: absolute; */
    
  }

  #col2 {
    width: 100% !important;
    /* position: absolute; */
    
  }

  .card {
    width: 100% !important;
  }
}

.sub-heading{
  color: white;
  font-size: 2.5vh;
}

