.b {
    display: flex;
    flex-flow: row wrap;
    padding-top: 10%;
    background-color:#650360;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    color: black;
}

.globalScores{
    width: 50%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
   
}

.leader-box {
    background-color: white;
    border-radius: 25px;
    width: 80%;
    margin: 0 10%;
    padding: 5% 0;
}

.myScores {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: auto;
    margin-top: 0;
}

.score-row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    
    width: 50%;
}

.score-score {
    padding-left: 5px;
    width: 50%;
    margin-bottom: 0;
    border-left: 1px solid;
    border-top: 2px solid;
    
    padding: 5px 0;
}

.score-name {
    padding-right: 5px;
    width: 50%;
    margin-bottom: 0;
    padding: 5px 0;
    border-right: 1px solid;
    border-top: 2px solid;

}

.top {
    border-top: none;
}

.user-find {
    width: 100%;
    text-align: center;
}

.user-find-label {
    color: black;
    margin-bottom: 20px;
}

.user-find-input {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .globalScores{
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        margin-top: 20%;
       
    }
    
    .myScores {
        width: 100%;
        text-align: center;
        height: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .score-row {
        width: 70%;
    }
  }
