
  
  .column {
    float: left;
    width: 50%;
    padding: 0 8px;
    align-items: center;
  }

  .about-box {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10vh;
  }

  .name{
      color: black;
  }
  
  .card-about{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    /* margin: 8px; */
  }
  
  .about-section {
    padding: 50px 0;
    text-align: center;
    background-color:#650360;
    color: black;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
  }
  
  .container {
    padding: 0 16px;
    color:black;
  }
  
  /* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  } */
  
  .title {
    color: grey;
  }

  .pic{
    margin: 10px auto;
    height: 200px;
  }

  .row {
      margin-top:5%;
  }
  
  @media screen and (max-width: 650px) {
    .about-box {
      width: 90%;
      margin-right: 5%;
    }
  }